[cdpni-portal]
enabled  = true
port     = 443,80
filter   = cdpni-portal
logpath  = /var/log/cdpni_portal_access.log
maxretry = 5
bantime  = 1800
findtime = 300
ignoreip = 127.0.0.1/8 {{ server.ip | regex_replace('\.[0-9]+$', '.0') }}/{{ server.mask }}
